.recent-transactions {
    flex: 2;
    padding: 2rem 3rem;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.7);

    .recent-transactions__title {
        font-size: 1.3rem;
        margin-bottom: 1.3rem;
    }

    .recent-transactions__table {
        width: 100%;
        text-align: left;

        td {
            border-bottom: 1px solid rgba($color: #777, $alpha: 0.1);
            height: 4.5rem;
        }

        .recent-transaction {
            color: #555;

            .recent-transaction__customer {
                display: flex;
                align-items: center;
                column-gap: 1rem;

                .recent-transaction__img {
                    width: 3rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                }

                .recent-transaction__name {
                    font-weight: 400;
                }
            }

            .recent-transaction__status {
                .recent-transaction__button {
                    width: 5rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 0.6rem;
                    cursor: pointer;
                    text-transform: capitalize;

                    &.approved {
                        color: #3bb077;
                        background-color: #e5faf2;
                    }

                    &.pending {
                        color: #2a7ade;
                        background-color: #ebf1fe;
                    }

                    &.declined {
                        color: #d95075;
                        background-color: #fff0f1;
                    }
                }
            }
        }
    }
}