.sidebar {
    width: 16rem;
    flex-shrink: 0;
    background-color: rgb(251, 251, 251);
    height: calc(100vh - 4.25rem);
    overflow-y: auto;
    position: sticky;
    padding: 1rem 2rem;
    margin-right: 1rem;
    
    .sidebar__menu-item {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        .sidebar__title {
            font-size: 0.8rem;
            color: rgb(177, 176, 176);
            margin-bottom: 0.3rem;
        }

        .sidebar__item {
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            padding: 0.35rem 0.4rem;
            border-radius: 0.7rem;
            cursor: pointer;
            transition: all 0.2s linear;
            transition-delay: 0.05s;
            color: #555;          ;

            &:hover, &.sidebar__item--active {
                background-color: rgb(240, 240, 255);
            }

            .sidebar__icon {
                font-size: 1.2rem;
            }
        }
    }
}