.features-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 1rem;

    .feature {
        box-shadow: 0 0 15px -10px rgba($color: #000000, $alpha: 0.7);
        border-radius: 1rem;
        padding: 2.5rem 5rem;

        .feature__title {
            font-size: 1.2rem;
            font-weight: 400;
        }

        .feature__pricing-container {
            display: flex;
            align-items: center;
            column-gap: 1.7rem;
            margin: 0.8rem 0;

            .feature__price {
                font-size: 1.4rem;
                font-weight: bold;
            }

            .feature__changes {
                display: flex;
                align-items: center;
                column-gap: 0.3rem;

                span {
                    font-size: 1.1rem;
                }

                .feature__icon {
                    font-size: 1.2rem;

                    &.negative {
                        color: red;
                    }

                    &.positive {
                        color: green;
                    }
                }
            }
        }

        .feature__caption {
            color: #555;
        }
    }
}